<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    body{
        background-color : lightgray;
       }

    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
       }
    .layout > input {
        width : 100%;
        box-sizing : border-box;
       }
    .layout > textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
       }
</style>

<body>
  <div class="layout">
    <table>
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td th:text="${board.title}">1</td>
            <td>제목입니다.</td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>